[Unit]
Description=Jukebox
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/server
ExecStart=/home/pi/.local/bin/poetry run gunicorn --workers 2 --bind 127.0.0.1:9000 app:app

[Install]
WantedBy=multi-user.target